# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/

# SQLite database
*.db
*.sqlite3

# Flask instance folder
instance/

# Environment variables
.env

# IDE / editor files
.vscode/
.idea/
